.ik-visitcard {
    background-color: black;
    color: white;
    padding: 20px;
    width:100%;    
}
.ik-visitcard__contact {
    width: 100%;
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
.ik-visitcard__contact--grey {
    color:#5d696e;
}
.ik-visitcard__contact--gold {
    color: #E4AE58; 
}