.ik-start {
    background-color: #F0E2D7;
    width:100%;
}
.ik-start__text {    
    color: #aea3a3;
}
.ik-start__greeting {
    padding-top: 215px;
    padding-left: 90px;
    padding-bottom: 80px;
    padding-right: 40px;    
}
.ik-start__button {
    font-size: .8em;
    padding: 10px 30px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 15px;
    background-color: transparent;
    font-weight: bold;
}