.ik-message-form {
    color: white;
    background-color: #E9714C;
    width: 100%;
    padding: 30px;
    
}
.ik-message-form__input {
    width: 100%;
    padding: 3px;
    background: transparent;
    border:0;
    border-bottom: 2px solid #E4AE58;
    outline: none;
    margin-top: 20px;
    color: #aea3a3;
}
.ik-message-form__input--text-place {
    height: 123213px; 
    color: #aea3a3;
}
.ik-message-form__button {
    padding: 10px 40px;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
}
.ik-author-image3 {
    width: 100%;
    height: inherit;
    background-image: url(./images/3.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;

}
.ik-author-image4 {
    width: 100%;
    height: inherit;
    background-image: url(./images/2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
}