.ik-flex-box {
    display:flex;
    min-width: 300px;
    order: 2;    
}

.ik-flex-box--small {
    width: 25%;
}
.ik-flex-box--medium {
    width: 50%;
}   
.ik-flex-box--large {
    width: 100%;
}