.ik-author-image2 {
    width: 100%;
    height: inherit;
    background-image: url(./images/4.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;  
    height: 100%;  
}