.ik-nav {
    width: 100%;
    padding-top: 40px;
    padding-left: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    box-sizing:border-box;
}
.ik-nav__button {
    color:#5d696e;
    text-decoration: none;
}
.ik-nav__button:hover {
    color:#E4AD59;
    text-decoration: none;
}